#borda {
    background-color: #316178;
    height: 585px;
    border: 5px solid 	
    #FFD700;
}

header > img {
    display: flex;
    width: 250px;
    height: 250px;
    margin: auto;
}

main {
    text-align: center;
    color: #66CAF9;
}